* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 20px;
    padding: 10px;
}

header {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b58a69;
    color: #bada55;
    text-align: center;
}

#nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 18px;
    flex-direction: row;
    color: black;
    align-items: center;
    text-align: center;
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    flex-grow: 1;
    transition: color 0.3s;
    font-size: 18px;
}

nav a:hover {
    color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#contenido {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
    background-color: #dee5de;
    flex: 70%;
    padding: 20px;
    display: flex;
}

.img1 {
    height: 190px;
    width: 340px;
    margin-right: 20px;
}

#contenido-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btnVer {
    margin-top: 10px;
}

/* Resto de tus estilos */

