*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 50px;
    padding: 10px;
}

header{
    width: 100%; /* Establece el ancho al 90% de la ventana gráfica */
    margin: 0 auto; /* Centra el elemento en la ventana gráfica */
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b58a69;
    color: #bada55;
    text-align: center;
}

#nav{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 18px;
    flex-direction: row;
    color: black;
    align-items: center;
    text-align: center;
}

nav a{
    color: black;
    font-size: 18px;
    padding: 14px 20px;
    text-decoration: none;
    flex-grow: 1;
    flex-direction: row;
}
nav a:hover {
    color: red; 
}
.img1{
    
    margin-right: 20px; 
    height: 190px;
    width: 340px; 
}
.img2{
    height: 220px;
    width: 340px; 
}
.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    background-color: beige;
    padding: 20px;
    flex: 30px;
}
#contenido-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
    justify-content: space-between; /* Distribuye el espacio horizontalmente entre los elementos */
}

#contenido-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btnVer {
    margin-top: 10px;
}
#contenido {
    width: 90%; /* Establece el ancho al 90% de la ventana gráfica */
    margin: 0 auto; /* Centra el elemento en la ventana gráfica */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
    background-color: #dee5de;
    flex: 70%;
    padding: 20px;
    text-align: right;
}
#contenido2 {
    width: 90%; /* Establece el ancho al 90% de la ventana gráfica */
    margin: 0 auto; /* Centra el elemento en la ventana gráfica */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    background-color: #d7d7cb;
    flex: 70%;
    padding: 20px;
    text-align: center;
    align-items: center;
}


footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e8e6e6;
    padding: 20px;
    text-align: center;
    background-color: #5e5e4a;
}
@media screen and (max-width: 650px) {
    #nav {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos a la izquierda en la columna */
    }

    nav a {
        margin-bottom: 10px; /* Añade espacio entre los elementos cuando están en una columna */
    }
}